name: Localization

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  update-localization:
    name: Update Localization
    runs-on: ubuntu-latest

    steps:
      # Step 1: Check out the repository
      - name: Check out repository
        uses: actions/checkout@v3

      # Step 2: Extract texts (if needed, customize this for your format/tool) + update translations with doloc:
      - name: Extract texts
        env:
          API_TOKEN: ${{ secrets.DOLOC_API_TOKEN }}
        run: |
          npm install
          npm run update-i18n

      # Step 3: Run doloc for translations
      # NOT NEEDED HERE, AS IT IS INTEGRATED IN THE PREVIOUS STEP!
      #- name: Translate with doloc
      #  env:
      #    API_TOKEN: ${{ secrets.DOLOC_API_TOKEN }}
      #  run: |
      #    curl https://api.doloc.io \
      #    -H "Authorization: Bearer $API_TOKEN" \
      #    -F "@src/lang/en.json" \
      #    -F "@src/lang/de.json" \
      #    -o src/lang/en.json

      # Step 4: Check for changes and commit if needed
      - name: Commit and push changes if any
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git diff --quiet || (
            git add translations/messages-translated.xlf
            git commit -m "Update translations via doloc"
            git push
          )